@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #1a3636;
    --cor2: #40534c;
    --cor3: #677D6A;
    --cor4: #d6bd98;
    --fonteprincipal: "Montserrat Alternates", sans-serif;
    --fontesecundaria: "Montserrat", sans-serif;
}

/*Pode usar preto e branco também*/

body{
    scroll-behavior: smooth;
    margin-top: 66px;
}

h1, h2, h3, h4, h5, h6,  label{
    font-family: var(--fonteprincipal);
}
p, span, a, input{
    font-family: var(--fontesecundaria);
}

/*Header*/
header{
    padding-bottom: 70px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
}
header nav{
    background-color: var(--cor1);
    font-family: var(--fonteprincipal);
    font-weight: 500;
}

.itemdanav{
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

.itemdanav:hover{
    color: var(--cor3);
}

.logo{
    width: 170px;
    height: 50px;
    margin-right: 1rem;
}

#btnlogin{
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px 10px;
    margin-right: 1rem;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#btncadastro{
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px 10px;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#btnlogin:hover, #btncadastro:hover{
    color: var(--cor1);
    background-color: var(--cor4);
    border-color: var(--cor4);
}

/*Footer*/

footer{
    background-color: var(--cor1);
}

.iconefooter, #logofooter{
    color: #fff;
}

.iconefooter:hover, #logofooter:hover{
    color: var(--cor3);
}

.itemdofooter{
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    font-family: var(--fonteprincipal);
}

.itemdofooter:hover{
    color: var(--cor3);
}

.textocopyright{
    font-family: var(--fontesecundaria);
    color: #fff;
}

#logofooter{
    width: 20px;
    height: 20px;
}

/*Sobre e Termos de Uso*/

.cor1{
    color: var(--cor1);
}

/*Modais*/

.modal-footer > button{
    font-family: var(--fontesecundaria);
}
